.footer{
    background-color: rgb(81, 86, 94) ;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.footer .navegador{
    display: block;
    font-size: 12px;
}
.footer .navegador div{
    display: flex;
    padding: 10px;
}
.footer .navegador a{
    text-decoration: none;
    color:white ;
}
.footer .inicio{
    display: flex;
    justify-content: center;
}
.footer .inicio div {
    border: solid  white;
    padding: 0px 10px;
    border-radius: 20px;


    margin: 10px;
}
.footer .inicio div a{
    text-decoration: none;
    color: white;
}