.portada{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;

}
.bgBlue{
    background-color: rgb(50, 130, 223);
    width: 750px;
    height: 295px;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin-right: 10%;
}
.bgYellow{
    background-color: #fff237;
    width: 755px;
    height: 300px;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin-right: 250px;
}
.imagen{
    z-index: -1;
    position: absolute;
    display: contents;  

}