.cuerpo{
    display: grid;
    grid-column: auto;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
}
.cuerpo .boton{
    width: 100%;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}
.cuerpo input{
    border: 0px;
    width: 100%;
    border-color: none;
}
.cuerpo input:focus-visible{
    outline: none;
}

.cuerpo .input{
    font-size: 14px;
    color: rgb(134, 134, 134);
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px rgb(134, 134, 134);
    border-radius: 15px;
    margin-bottom: 20px;
}
.cuerpo .centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.margen{
    margin-top: 10px;
    margin-bottom: 10px;
}
.margen p{
    display: contents;

}