.miniatura{
    margin: 10px;
    border:  10px solid rgb(223, 223, 223);
    display: table-caption;
    background-color: rgb(223, 223, 223);
    
}
.miniatura a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: black;
}